################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/backend/ContratApp/appsettings.json
/backend/ContratApp/appsettings.Development.json
