<div class="grid grid-nogutter surface-section text-800" >
  <div class="col-12 md:col-5 p-4 text-center md:text-left flex align-items-center" style="max-width: 100%; box-sizing: border-box; ">
    <div class="w-full" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="surface-card py-6 px-4 " style="border-radius:53px">
        <div class="text-center mb-5">
          <img src="assets/images/login/hyper.svg" alt="Image" height="50" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">¡Bienvenido de nuevo!</div>
          <span class="text-600 font-medium">Inicia sesión</span>
        </div>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

          <div class="mb-4 row">
            <label
              for="email"
              class="block text-900 font-medium mb-2 col-sm-3 col-form-label"
            >
              Correo electrónico
            </label>

            <div class="col-sm-9">
              <input
                id="email"
                type="text"
                placeholder="Correo electrónico"
                pInputText
                class="w-full mb-2"
                style="padding:1rem"
                [disabled]="isButtonDisabled()"
                formControlName="email"
              />
            </div>

            <span [ngStyle]="{color: 'var(--red-500)', fontSize: '0.9rem'}"
                  *ngIf="validatorService.isValidField(myForm, 'email')"
            >
              {{ validatorService.getFieldError(myForm, 'email')}}
          </span>

          </div>

          <div class="mb-4 row">
            <label
              for="password"
              class="block text-900 font-medium mb-2 col-sm-3 col-form-label"
            >
              Contraseña
            </label>

            <div class="col-sm-9">
              <p-password
                id="password"
                placeholder="Password"
                [toggleMask]="true"
                styleClass="mb-2"
                inputStyleClass="w-full p-3"
                formControlName="password"
                [disabled]="isButtonDisabled()"
                [style]="{'width': '100%'}"
              ></p-password>
            </div>

            <span [ngStyle]="{color: 'var(--red-500)', fontSize: '0.9rem'}"
                  *ngIf="validatorService.isValidField(myForm, 'password')"
            >
              {{ validatorService.getFieldError(myForm, 'password')}}
          </span>

          </div>

          <div class="flex align-items-center justify-content-between mb-2">
          </div>

          <button
            pButton
            label="Iniciar sesión"
            [icon]="isButtonDisabled() ? 'pi pi-spin pi-spinner' : 'pi pi-user'"
            class="w-full"
            [disabled]="isButtonDisabled()"
          ></button>
        </form>

      </div>
    </div>
  </div>
  <div class="col-12 md:col-7 overflow-hidden hidden md:block" style="background-image: url('assets/images/login/welding.jpg'); background-size: cover; background-position: center; clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); ">
  </div>
</div>
