<div
  class="border-1 border-blue-50 grid grid-nogutter m-0 p-0 list-none border-1 surface-border border-round-2xl p-3 flex flex-column gap-2 w-full"
  style="min-width: 250px; min-height: calc(100vh - 50px);"
>

  @if (this.userService.user()) {
    <app-profile-avatar
      [classes]="{
        'mainContainer': 'col-12 flex flex-column align-items-center',
      }"
      [ratingValue]="4"
      [message]="'Mi perfil'"
      [offererParamId]="this.paramId"
      [isPrivate]="true"
      [styleAvatar]="getStyleAvatar(this.userService.user()?.firstName + ' ' + this.userService.user()?.lastName)"
    />
  }
  <p-divider />

  @if ( (this.userService.userMessages().length > 0 || this.paramId() !== null ) ) {
    <app-search-box
      [placeholder]="'Buscar usuario'"
      (onValue)="searchChatUser($event)"
      [initialValue]="initialValue"
    ></app-search-box>

    <p-dataView
      #dv_chats
      [value]="this.messages()"
      [rows]="5"
      [paginator]="true"
    >
      <ng-template pTemplate="list" let-users>
        <div
          [routerLink]="['/', ROUTES_PATH.DASHBOARD_HOME, ROUTES_PATH.DASHBOARD_MESSAGES, user.idOtherUser]"
          class="col-12 cursor-pointer"
          *ngFor="let user of users; let first = first"
        >
          <li
            class="p-2 hover:surface-hover border-round border-1 border-transparent transition-all transition-duration-200"
          >
            <div class="flex flex-wrap p-2 align-items-center gap-3">
              @if (this.userService.user()?.srcImage) {
                <p-avatar image="{{ user.name.srcImage }}" size="normal" shape="circle"></p-avatar>
              } @else {
                <p-avatar
                  [label]="user.name ? user.name.at(0) : 'U'"
                  size="normal"
                  shape="circle"
                  [style]="getStyleAvatar(user.name)"
                ></p-avatar>
              }
              <div class="flex-1 flex flex-column gap-1">
              <span class="font-bold">
                  {{ user.name }}
              </span>
                <div class="flex align-items-center gap-2">
                  <i class="pi pi-calendar-times text-sm"></i>
                  <span>
                {{ user.createdAt | date: 'dd/MM/yyyy' }}
              </span>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ng-template>
    </p-dataView>
  } @else {
    <div class="col-12 flex justify-content-center align-items-center" style="min-height: 250px">
      <p-message severity="info" text="No tienes mensajes"></p-message>
    </div>
  }
</div>
