<div class="col-12 lg:col-4 lg:mb-0 w-full">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <span class="p-input-icon-left w-full mb-2">
      <i class="pi pi-envelope"></i>
      <input
        id="email_recover_password"
        type="text"
        placeholder="Correo electrónico"
        pInputText
        class="w-full"
        formControlName="email_recover_password" />
    </span>

    <span
      [ngStyle]="{ color: 'var(--red-500)', fontSize: '0.9rem' }"
      *ngIf="validatorService.isValidField(myForm, 'email_recover_password')">
      {{ validatorService.getFieldError(myForm, 'email_recover_password') }}
    </span>
  </form>
</div>
