<div [class]="classes.mainContainer">
  @if (user()?.srcImage) {
    <p-avatar image="{{ user()?.srcImage }}" size="xlarge" shape="circle"></p-avatar>
  } @else {
    <p-avatar
      [label]="user()?.firstName ? user()!.firstName.at(0) : 'U'"
      size="xlarge"
      shape="circle"
      [style]="getStyleAvatar(user()?.firstName ? user()!.firstName + ' ' + user()!.lastName : 'Usuario Sin Nombre')"
    ></p-avatar>
  }
  <div class="flex flex-column">
      <span class="font-bold text-xl">
          {{ user()?.firstName }} {{ user()?.lastName }}
      </span>
    <div class="flex flex-column mt-2 gap-1">
      <p-rating [ngModel]="ratingValue" [readonly]="true" [cancel]="false"></p-rating>
      <a
        class="font-medium text-sm cursor-pointer hover:text-primary transition-all transition-duration-200 no-underline"
        [routerLink]="[
          !isPrivate
              ? '/' + ROUTES_PATH.DASHBOARD_HOME + '/' + ROUTES_PATH.DASHBOARD_PUBLIC_PROFILE_USER
              : '/' + ROUTES_PATH.DASHBOARD_HOME + '/' + ROUTES_PATH.DASHBOARD_PROFILE,
          !isPrivate ? offererParamId : []
        ]"
      >
        {{ message }}
      </a>
    </div>
  </div>
</div>
