<!-- <div class="w-full">
  <div class="py-6 px-4">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-2 row p-0">
        <div class="col-12 lg:col-4 lg:mb-0 w-full">
          <span class="p-input-icon-left w-full mb-2">
            <i class="pi pi-envelope"></i>
            <input
              id="email"
              type="text"
              placeholder="Correo electrónico"
              pInputText
              class="w-full"
              formControlName="email" />
          </span>

          <span
            [ngStyle]="{ color: 'var(--red-500)', fontSize: '0.9rem' }"
            *ngIf="validatorService.isValidField(myForm, 'email')">
            {{ validatorService.getFieldError(myForm, 'email') }}
          </span>
        </div>
      </div>

      <div class="mb-1 row p-0">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0 w-full">
          <div class="custom-password-container mb-2" style="position: relative; width: 100%">
            <i
              class="pi pi-lock"
              style="
                position: absolute;
                left: 0.75rem;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
              "></i>
            <p-password
              id="password"
              placeholder="Contraseña"
              [toggleMask]="true"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%', 'padding-left': '2.5rem' }"
              formControlName="password"
              promptLabel="Elige una contraseña"
              weakLabel="Muy débil"
              mediumLabel="Complejidad media"
              strongLabel="Contraseña segura"></p-password>
          </div>

          <span
            [ngStyle]="{ color: 'var(--red-500)', fontSize: '0.9rem' }"
            *ngIf="validatorService.isValidField(myForm, 'password')">
            {{ validatorService.getFieldError(myForm, 'password') }}
          </span>
        </div>
      </div>

      <div class="flex align-items-center justify-content-between mb-5">
        <a
          (click)="showDialog()"
          class="font-medium text-sm no-underline ml-2 text-center cursor-pointer w-full"
          style="color: var(--primary-color)">
          ¿Olvidaste tu contraseña?
        </a>
      </div>

      <button
        pButton
        label="Iniciar sesión"
        [icon]="isButtonDisabled() ? 'pi pi-spin pi-spinner' : 'pi pi-user'"
        class="w-full"
        [disabled]="isButtonDisabled()"></button>
    </form>
  </div>

  <app-generic-dialog
    [(visible)]="dialogVisible"
    header="Cambiar contraseña"
    cancelLabel="Cancelar"
    acceptLabel="Aceptar"
    [contentTemplate]="dialogContent"
    (cancel)="onCancel()"
    (accept)="onAccept()"
    [isAcceptDisabled]="isDialogAcceptDisabled"
    (visibleChange)="onDialogVisibleChange($event)"></app-generic-dialog>

  <ng-template #dialogContent>
    <div class="w-full">
      <app-recovery-password
        (formValid)="onRecoveryFormValidChange($event)"
        (emailValue)="onRecoveryEmailChange($event)" />
    </div>
  </ng-template>
</div> -->
<app-form-base [isLogin]="true">
  <p-button class="align-self-end" link="true" label="¿Olvidaste tu contraseña?" />
</app-form-base>
