<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="profile-form flex flex-column gap-3">
  <!-- Foto -->
  <div class="form-group flex align-items-end gap-2">
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      styleClass="mr-2"
      size="xlarge"
      shape="circle" />
    <!-- <button (click)="">Cambiar</button> -->
    <p
      style="
        width: 25px;
        height: 25px;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        border: 1px solid purple;
        color: purple;
        display: grid;
        place-items: center;
        border-radius: 8px;
        box-sizing: border-box;
        line-height: 0;
        cursor: pointer;
      "
      (keypress)="choisefile.click()"
      (click)="choisefile.click()"
      >
      +
    </p>
    <!-- (onUpload)="onUpload($event)" -->
    <p style="margin: 0; padding: 0">Cambiar foto</p>
    <input
      type="file"
      #choisefile
      style="visibility: hidden; width: 0"
      accept="image/png, image/gif, image/jpeg" />
  </div>

  <!-- Nombre -->
  <div class="form-group flex flex-column">
    <label for="name">Nombre</label>
    <div class="flex gap-2">
      <input
        id="name"
        type="text"
        pInputText
        class="p-1"
        formControlName="name"
        disabled="!isEditing['name']" />
      <button (click)="toggleEdit('name')">Cambiar</button>
    </div>
  </div>

  <!-- Fecha de nacimiento -->
  <div class="form-group">
    <label for="birthDate">Fecha de Nacimiento</label>
    <input
      id="birthDate"
      type="date"
      formControlName="birthDate"
      [readonly]="!isEditing['birthDate']" />
    <button (click)="toggleEdit('birthDate')">Cambiar</button>
  </div>

  <!-- DNI -->
  <div class="form-group">
    <label for="dni">DNI</label>
    <input id="dni" type="number" formControlName="dni" [readonly]="!isEditing['dni']" />
    <button (click)="toggleEdit('dni')">Cambiar</button>
  </div>

  <!-- País -->
  <div class="form-group">
    <label for="country">País</label>
    <select id="country" formControlName="country" [disabled]="!isEditing['country']">
      @for (country of countries; track country) {
        <option [value]="country">
          {{ country }}
        </option>
      }
    </select>
    <button (click)="toggleEdit('country')">Cambiar</button>
  </div>

  <!-- Localidad -->
  <div class="form-group">
    <label for="locality">Localidad</label>
    <select id="locality" formControlName="locality" [disabled]="!isEditing['locality']">
      @for (locality of localities; track locality) {
        <option [value]="locality">
          {{ locality }}
        </option>
      }
    </select>
    <button (click)="toggleEdit('locality')">Cambiar</button>
  </div>

  <!-- Teléfono -->
  <div class="form-group">
    <label for="phone">Teléfono</label>
    <input id="phone" type="number" formControlName="phone" [readonly]="!isEditing['phone']" />
    <button (click)="toggleEdit('phone')">Cambiar</button>
  </div>

  <!-- Email -->
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" [readonly]="!isEditing['email']" />
    <button (click)="toggleEdit('email')">Cambiar</button>
  </div>

  <!-- Contraseña -->
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      [readonly]="!isEditing['password']" />
    <button (click)="toggleEdit('password')">Cambiar</button>
  </div>
</div>
