<main>
  <div class="mt-5 button-searchbar-container">
    <p-button styleClass="text-color" icon="pi pi-bars" text="true"></p-button>
    <div class="flex justify-content-center w-full">
      <app-searchbar></app-searchbar>
    </div>
  </div>
  <h2 class="mt-6 mb-5 text-center text-regular text-base">Explora nuestras categorías</h2>
  <app-categories-carousel></app-categories-carousel>
  <h2 class="mt-6 mb-5 text-center text-regular text-base">¿Qué opinan nuestros usuarios?</h2>
  <app-opinion-carousel></app-opinion-carousel>
</main>
