<form [formGroup]="registerForm" autocomplete="off">
  <div class="flex flex-column gap-4">
    <div class="w-full">
      <input
        pInputText
        type="text"
        class="w-full mb-1"
        styleClass="w-full"
        autocomplete="off"
        placeholder="Correo electrónico *"
        formControlName="email" />
      @if (email!.errors && (email!.dirty || email!.touched)) {
        @if (email!.errors!['required']) {
          <small class="font-bold text-red-500 pl-2">El campo es obligatorio</small>
        }
        @if (email!.errors!['email']) {
          <small class="font-bold text-red-500">El correo electrónico es inválido</small>
        }
      }
    </div>
    <div class="w-full">
      <p-password
        styleClass="w-full mb-1"
        inputStyleClass="w-full"
        autocomplete="off"
        placeholder="Contraseña *"
        formControlName="password"
        [feedback]="false"
        [toggleMask]="true">
        <i class="pi pi-check"></i>
      </p-password>
      <div class="flex flex-column gap-2">
        @if (password!.errors && (password!.dirty || password!.touched)) {
          @if (password!.errors!['required']) {
            <small class="font-bold text-red-500 pl-2">El campo es obligatorio</small>
          }
          @if (password!.errors!['minlength']) {
            <small class="font-bold text-red-500 pl-2">
              La contraseña debe tener al menos 8 caracteres
            </small>
          }
          @if (password!.errors!['number']) {
            <small class="font-bold text-red-500 pl-2">
              La contraseña debe contener al menos un número
            </small>
          }
          @if (password!.errors!['uppercase']) {
            <small class="font-bold text-red-500 pl-2">
              La contraseña debe contener al menos una mayúscula
            </small>
          }
          @if (password!.errors!['specialCharacter']) {
            <small class="font-bold text-red-500 pl-2">
              La contraseña debe contener al menos un caracter especial
            </small>
          }
        }
      </div>
    </div>
    <div class="flex flex-column w-full my-2">
      <!-- <div class="pb-2">
        <p-checkbox class="px-1" inputId="terms" value="terms" formControlName="terms" />
        <label class="font-medium select-none" for="terms">
          Acepto los
          <a class="font-bold underline text-black-alpha-90" routerLink="/"
            >términos y condiciones</a
          >
        </label>
      </div> -->
      <!-- @if (terms?.invalid && terms?.dirty) {
        @if ((terms?.errors)!['required']) {
          <small class="font-bold text-red-500 pl-2">Se requiere aceptar los terminos</small>
        }
      } -->
    </div>
    <div>
      <p-button
        styleClass="w-full"
        label="Crear cuenta"
        [rounded]="true"
        [disabled]="registerForm.invalid"
        (click)="handleRegisterWithEmail()" />
      <!-- Google Auth -->
      <!--
        <p-divider />
        <p-button
          type="submit"
          styleClass="w-full flex justify-content-center"
          severity="secondary"
          [rounded]="true"
          (onClick)="handleRegisterWithGoogle()">
          <i class="pi pi-google pr-2"></i>
          Google
        </p-button>
      -->
    </div>
    <div class="w-full">
      <div class="flex flex-column align-items-center gap-2">
        <span>¿Ya tenés cuenta?</span>
        <a class="font-bold underline text-black-alpha-90" routerLink="/auth/login"
          >Iniciar sesión</a
        >
      </div>
    </div>
  </div>
</form>
